# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.log
*.pyc
local_settings.py
settings.py
*.html~
*.py~
*.js~
*.css~
*.swp
db.sqlite3
*migrations/
*.idea/

.DS_Store
node_modules
/.idea/misc.xml

*.pem
dev/
/static/static
/assets/yarn.lock
/priceapp
/.vscode
coupons/transactions/config.py
